*,*:after, *:before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.top-banner{
    width: 100%;
    background: url(./images/bg1.jpg) no-repeat center;
    background-size: cover;
    padding: 27.5rem;
    position: fixed;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    /* background: url(./images/bg1.jpg)no-repeat; */
}
.digital-clock{
    position: relative;
    color: #fff;
    background:#412425 ;
    width: 425px;
    padding: 30px 50px;
    box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.time{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hours , .dots , .minutes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    padding: 0 10px;
    line-height: 200px;
}
.hours , .minutes{
     font-size: 6em;
     width: 125px;

}
.dots{
    font-size: 5em;
    color: #929292;
}
.hours{
    background: -webkit-linear-gradient(90deg,#0B1539,#4b8896);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.minutes{
    background: -webkit-linear-gradient(90deg,#ff5e9a,#ffb960);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;   
}
.right-side{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}
.period{
    transform: translateY(-20px);
    font-size: 1.3em;
    font-weight: 500;
}
.seconds{
    transform: translateY(16px);
    font-size:2em ;
    font-weight: 600;
}
.calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom:8px;
}
.day-name, .day-number, .year{
    margin-left:10px;
    padding: 5px;
}
.dot-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    color: aliceblue;
    font-size: 1.3em;
    cursor: pointer;
}
.dot-menu{
    z-index: 999;
    position: absolute;
    top: 7px;
    right: 5px;
    list-style: none;
    background: #6C5349;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
}
.dot-menu.active{
    visibility: visible;
    opacity: 1;
}
.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock-format-text{
    color: #fff;
    font-size: 1.2em;
    margin-right: 15px;
}
.format-switch-btn{
   width: 35px;
   height: 15px;
   background:#6E6E5F;
   border-radius: 75px;
   box-shadow: inset 2px 2px 4px rgba(255,255,255,0.1),
               inset -2px -2px 4px rgba(0, 0, 0, 0.2);
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;

}
.format-switch-btn:before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #4b8896;
    border-radius: 50%;
    box-shadow: 0 5px 25px #4b8896;
    transform: translateX(-10px);
    transition: 0.3s ease;
    transition-property: background,transform;
}
.format-switch-btn.active:before{
    background:#ff5e9a ;
    transform: translateX(10px);
    box-shadow: 0 5px 25px #ff5e9a;
}


















